body {
    font-family: "HelveticaNeue",  Arial, sans-serif;
    /* font-size: 16px; */
    line-height: 1.7;
}

.btn{
background-color:#FF334D;
border:none;
padding:1.5rem 2rem;
color:white;
font-weight: 400;
font-size:1.6rem;
border-radius: 2.6rem;
box-shadow: 0px 3px 6px #DADADA;
display:block;
margin:0 auto;

}
